*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
}


div img{
    height: 270px;
    width: 297px;
}

.product_card{
    height: 100%;
    width: 300px;
    border: 2px solid red;
    margin: auto;
}

.product_info{

}

.product_name{

}

.product_rating{

}